body{
	font-family: "Helvetica","Arial",sans-serif;
	font-size: 16px;
	margin: auto 15%;
	background: #eee;
}
li{
	list-style: none;
}
abbr{
	border: 0;
	font-style: normal;
}
a {
	color: black;
	text-decoration: none;
}
a:hover{
	color: red;
}
